.center-card {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: auto;
    margin-top: 10px; /* Adjust the top margin as needed */
    padding: 30px;
    }
    mat-form-field{
    width: 100%;
    }