<mat-card class="center-card">
  <mat-card-content>
    <div>
      <form [formGroup]="newBlogForm">
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="blogTitle" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Posted By</mat-label>
          <input matInput formControlName="blogPostedBy" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Content</mat-label>
          <textarea matInput rows="5" formControlName="blogContent"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGrid aria-label="Enter tags">
            <mat-chip-row *ngFor="let tag of tags; let i = index" (removed)="removeTag(tag)">
              {{ tag }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="New Tag..."
              [matChipInputFor]="chipGrid"
              (matChipInputTokenEnd)="addTag($event)"
            />
          </mat-chip-grid>
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          style="float: right"
          [disabled]="!newBlogForm.valid"
          (click)="createBlog()"
        >
          Create New Blog
        </button>
      </form>
    </div>
  </mat-card-content></mat-card
>
