.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
  
    mat-card {
      padding: 10px;
    }
  
    .example-header-image {
      background-image: url('E:/Programming/Full Stack/Blog Application/Frontend/BlogApplication/src/assets/sukuna.jpg');
      background-size: cover;
    }
  
    mat-card-footer {
      margin-left: 20px;
    }
  
    .post-img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      margin-top: 15px;
    }
  }
  