<div class="card-container" *ngFor="let item of allBlogs; let i =index">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ item.blogTitle }}</mat-card-title>
      <mat-card-subtitle>Posted by: {{item.blogPostedBy }} | Posted On :{{ item.postDate | date : "medium" }}</mat-card-subtitle>
      <mat-card-subtitle>Tags: {{item.tags }}</mat-card-subtitle>
    </mat-card-header>
    <mat-grid-list cols="5">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <img mat-card-image [src]="getImagePath(i)" class="post-img" alt="Card Image" />
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">
        <mat-card-content>{{ item.blogContent.length>450 ? item.blogContent.substr(0,450)+'...':item.blogContent }}</mat-card-content>
      </mat-grid-tile>
    </mat-grid-list>
    <hr />
    <mat-card-actions>
      <button mat-raised-button color="primary">
        {{ item.likes }} <mat-icon>favorite</mat-icon>
      </button>
      <button mat-raised-button color="primary" style="margin-left: 5px">
        {{ item.views }} <mat-icon>remove_red_eye</mat-icon>
      </button>
      <button mat-raised-button color="primary" style="margin-left: 5px" routerLink="/view/{{item.id}}">
        View Post
      </button>
    </mat-card-actions>
  </mat-card>
</div>
